@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
*{
 margin: 0;
 padding: 0;
 border: 0; 
}
body {
    background: url("/assets/images/warm.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.debug {
    border: 2px solid;
}
/*------navbar-----*/
.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-item a {
    text-transform: uppercase;
  }
  
/*--------images----(https://www.w3.org/Style/Examples/007/center.en.html)*/
.displayed-img-Pythagora {
    display: block;
    margin-left: 0px;
    width: 100%;
    float:left;
}
.diagram {
    display: block;
    margin-left: 0px;
    width: auto;
    float:left;
}

/*--------right-about----*/

.title-right-about {
   padding-top: 0px;
}

/*--------footer----*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

