@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
*{
 margin: 0;
 padding: 0;
 border: 0; 
}
body {
    background: url("/assets/images/warm.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ----------debug---*/
.debug {
    border: 2px solid;
}
/* The navigation bar (https://www.w3schools.com/howto/howto_css_fixed_menu.asp)*/
.navbar {
  overflow: hidden;
  color: rga(0,0,0,0.5);
  position: fixed; 
  top: 0;
  width: 100%; 
}
 

