@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* General Settings */
*{
 margin: 0;
 padding: 0;
 border: 0; 
}

body {
    background-color: rgb(245, 245, 245); 
    font-family: 'Roboto';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, h3, h5 {
    font-size: 2.6rem;
    letter-spacing: 3px;
    font-family: "Roboto", sans-serif;
}
/* Code taken from https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.debug {
    border: 0px solid black;
}
/* buttons */
/* Code taken from https://irinatu17.github.io/Portishead */
.btn-blue-primary,
.btn-blue-primary:link,
.btn-blue-primary:visited{
    color: #fff;
    background-color: #0099e6;
    border: none;
    transition: all .2s;
    border-radius: 1.5rem;
    width: 10rem;
}

.btn-blue-primary:hover,
.btn-blue-primary:active,
.btn-blue-primary:focus {
    background-color: #0077b3;
    transform: scale(1.05) translateY(-1px);
    color: #fff;
}
.btn-blue-secondary {
    color: #fff;
    background-color:  #0099e6;
}

.btn-blue-secondary:hover {
    color: #fff;
    background-color:  #0077b3;
}
input[type=email].signup-modal-input {
    width: 75% !important;
}
/* Links */
.links-custom {
    transition: transform .2s;
    display: inline-block;
}
.links-custom:hover {
    text-decoration: none;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
/* navbar */

.nav-item a {
    text-transform: uppercase;
  }
.navbar-custom {
    background-color: #99ddff; 
}
.dropdown-menu-custom {
    background-color: #99ddff;
    width: 20rem;
}
/* About */
.company-name-title {
    text-align: center;
}
.container-custom {
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border: 1px solid #ffa500;
   }

/* images */
.teacher-pupils-img {
    display: block;
    margin-left: 0px;
    width: 100%;
    float: left;
}
.diagram {
    display: block;
    margin-left: 0px;
    width: auto;
    float: left;
}
.img-exercises {
    width: 50%;
    height: auto;
    display: block;
    margin-left: 0px;
    float: left;
}
/* Testimonials */
/* Testimonials code taken from Code Institute https://github.com/Code-Institute-Solutions/BootstrappingYourNextBigIdea-BS4/tree/master/04-BeyondBootstrap */
.testimonials .page-header {
    margin-bottom: 25px;
}
.testimonials-h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/*--------right-about----*/

.title-right-about {
   padding-top: 0px;
}
/* Footer code taken from https://github.com/Code-Institute-Solutions/resume-miniproject-bootstrap4/blob/master/09-adding-footer-content/index.html */
footer {
    background-color: #8f8f8f;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #525252;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #0077b3;
}

#footer-details {
    padding: 20px;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fafafa;
}

@keyframes isplayed-img-Pythagora {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
/*----------Media Quries*/
@media screen and (max-width: 1393px ){ 
    .container-custom {
    margin-top: 50px;
    }
    .video-lesson {
        width: 40%;
        height: 300px;
    }
}
@media screen and (max-width: 950px){
    .container-custom {
        margin-top: 75px;
    }
   .video-lesson {
        width: 100%;
        height:100%;
        margin-top: 50px;
    }
} 
@media screen and (max-width: 400px){
   .container-custom {
    margin-top: 50px;
    }
    .diagram {
    display: block;
    margin-left: 0px;
    width: 75%;
    float: left;
    }
    .footer-custom {
        margin-top: 50px;
    }
    .img-exercises {
    width: 50%;
    height: auto;
    display: block;
    margin-left: 0px;
    float: left;
    }
}